<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  {{ $styles := resources.Get "styles/tailwind.pcss" | toCSS | postCSS | minify }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  {{ if .Title }}
    <title>{{ .Title }} - {{ .Site.Title }}</title>
  {{ else }}
    <title>{{ .Site.Title }}</title>
  {{ end }}
</head>
<body class="antialiased font-playfair-display">
  {{ partial "navbar.html" . }}
  {{ block "main" . }}{{ end }}
  {{ partial "footer.html" . }}
  {{ $js := resources.Get "js/site.js" | minify }}
  <script src="{{ "vendors/move-to/moveTo.min.js" | absURL }}"></script>
  <script src="{{ "vendors/iframe-resizer/iframeResizer.min.js" | absURL }}"></script>
  <script src="{{ $js.Permalink }}"></script>
</body>
</html>