@tailwind base;

@font-face {
  font-family: 'Playfair Display';
  font-weight: 400;
  src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 700;
  src: url('../fonts/PlayfairDisplay-Bold.ttf');
}

@font-face {
  font-family: 'Georgia';
  font-weight: 400;
  src: url('../fonts/Georgia-Regular.ttf');
}

@tailwind components;
@tailwind utilities;