<footer class="bg-charcoal text-white px-4 py-12">
  <div class="flex flex-col w-full mx-auto md:flex-row md:flex-wrap md:items-start lg:w-10/12">
    <div class="md:w-1/2 lg:w-1/4">
      <img class="w-48 mx-auto" src="{{ "images/numo.png" | absURL }}" alt="">
    </div>
    <div class="mt-6 md:mt-0 md:w-1/2 lg:w-1/4">
      <img class="w-40 mx-auto" src="{{ "images/ds.svg" | absURL }}" alt="">
          <div class="mt-6 md:mt-0 md:w-1/2 lg:w-1/4">
      <img class="w-40 mx-auto" src="{{ "images/PBIC.svg" | absURL }}" alt="">
    </div>

    </div>
    <div class="mt-6 md:w-1/2 lg:w-1/4 lg:mt-0">
      <div class="flex space-x-4 items-center justify-center lg:justify-start">
        <img src="{{ "icons/cc1.svg" | absURL }}" alt="">
        <img src="{{ "icons/cc2.svg" | absURL }}" alt="">
        <img src="{{ "icons/cc3.svg" | absURL }}" alt="">
      </div>
      <p class="text-center text-xs max-w-sm leading-tight font-georgia mt-3 lg:text-left">All the material in this site, unless indicated otherwise, is under a CC-BY-SA license. If you reuse or adapt resources from this page please link to them and provide a reference. More details in the credits section.</p>
    </div>
  </div>
</footer>
