<footer class="bg-charcoal text-white px-4 py-12">
  <div class="flex flex-col w-full mx-auto md:flex-row md:flex-wrap md:items-start lg:w-10/12">
    <div class="md:w-1/2 lg:w-1/4">
      <img class="w-48 mx-auto" src="{{ "images/numo.png" | absURL }}" alt="">
    </div>
    <div class="mt-6 md:mt-0 md:w-1/2 lg:w-1/4">
      <img class="w-40 mx-auto" src="{{ "images/ds.svg" | absURL }}" alt="">
    </div>
    <div class="flex flex-col items-center mt-6 md:w-1/2 lg:w-1/4 lg:mt-0">
      <p class="text-xl">Comparte</p>
      <div class="flex items-center space-x-4 mt-2">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img class="w-5" src="{{ "icons/tw-white.svg" | absURL }}" alt="">
        </a>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img class="w-2" src="{{ "icons/fb-white.svg" | absURL }}" alt="">
        </a>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img class="w-5" src="{{ "icons/li-white.svg" | absURL }}" alt="">
        </a>
      </div>
    </div>
    <div class="mt-6 md:w-1/2 lg:w-1/4 lg:mt-0">
      <div class="flex space-x-4 items-center justify-center lg:justify-start">
        <img src="{{ "icons/cc1.svg" | absURL }}" alt="">
        <img src="{{ "icons/cc2.svg" | absURL }}" alt="">
        <img src="{{ "icons/cc3.svg" | absURL }}" alt="">
      </div>
      <p class="text-center text-xs max-w-sm leading-tight font-georgia mt-3 lg:text-left">Todo el material en esta página, cuando no se indique lo contrario, es CC-BY-SA. Si reúsas o adaptas recursos de esta página por favor vincúlalos y referéncialos.</p>
    </div>
  </div>
</footer>