<nav class="px-4 py-3 bg-white shadow flex">
  <div class="w-0 lg:w-1/6"></div>
  <ul class="flex items-center md:w-full md:justify-between md:pr-4 lg:w-4/6 ld:pr-0">
    <li><a href="#">Inicio</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Fuentes</a> de datos</li>
    <li><a href="#">Visualizaciones</a></li>
    <li><a href="#">Explorador</a> de datos</li>
    <li><a href="#">Descargas</a></li>
  </ul>
  <div class="flex items-center space-x-2 lg:w-1/6 lg:justify-end">
    <a href="" target="_blank" rel="noopener noreferrer">
      <img class="w-4" src="{{ "images/tw.svg" | absURL }}" alt="">
    </a>
    <a href="" target="_blank" rel="noopener noreferrer">
      <img class="w-4" src="{{ "images/fb.svg" | absURL }}" alt="">
    </a>
    <a href="" target="_blank" rel="noopener noreferrer">
      <img class="w-4" src="{{ "images/linkedin.svg" | absURL }}" alt="">
    </a>
  </div>
</nav>