<nav class="px-4 py-3 bg-white text-charcoal shadow font-georgia sticky top-0 z-10">
  <div class="text-right md:hidden">
    <button id="menu-trigger" class="focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6" viewBox="0 0 24 24" stroke-width="1.5" stroke="#222526" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <g id="menu-open">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <line x1="4" y1="6" x2="20" y2="6" />
          <line x1="4" y1="12" x2="20" y2="12" />
          <line x1="4" y1="18" x2="20" y2="18" />
        </g>
        <g id="menu-close" class="hidden">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </g>
      </svg>
    </button>
  </div>
  <div class="hidden flex-col md:flex md:flex-row md:justify-center" id="menu-content">
    <ul class="flex flex-col md:items-center md:w-full md:flex-row md:justify-between md:pr-4 lg:w-4/6 ld:pr-0">
      <li><a class="js-trigger" href="#intro">Home</a></li>
      <li><a class="js-trigger" href="#explorer">Data explorer</a></li>
      <li><a class="js-trigger" href="#credits-and-data">Credits and data</a></li>
    </ul>
  </div>
</nav>
