<nav class="px-4 py-3 bg-white text-charcoal shadow font-georgia sticky top-0 z-10">
  <div class="text-right md:hidden">
    <button id="menu-trigger" class="focus:outline-none">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6" viewBox="0 0 24 24" stroke-width="1.5" stroke="#222526" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <g id="menu-open">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <line x1="4" y1="6" x2="20" y2="6" />
          <line x1="4" y1="12" x2="20" y2="12" />
          <line x1="4" y1="18" x2="20" y2="18" />
        </g>
        <g id="menu-close" class="hidden">
          <path stroke="none" d="M0 0h24v24H0z"/>
          <line x1="18" y1="6" x2="6" y2="18" />
          <line x1="6" y1="6" x2="18" y2="18" />
        </g>
      </svg>
    </button>
  </div>
  <div class="hidden flex-col md:flex md:flex-row" id="menu-content">
    <div class="w-0 lg:w-1/6"></div>
    <ul class="flex flex-col md:items-center md:w-full md:flex-row md:justify-between md:pr-4 lg:w-4/6 ld:pr-0">
      <li><a href="#">Inicio</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Fuentes</a> de datos</li>
      <li><a href="#">Visualizaciones</a></li>
      <li><a href="#">Explorador</a> de datos</li>
      <li><a href="#">Descargas</a></li>
    </ul>
    <div class="flex items-center mt-4 space-x-2 md:mt-0 lg:w-1/6 lg:justify-end">
      <a href="" target="_blank" rel="noopener noreferrer">
        <img class="w-4" src="{{ "icons/tw.svg" | absURL }}" alt="">
      </a>
      <a href="" target="_blank" rel="noopener noreferrer">
        <img class="w-2" src="{{ "icons/fb.svg" | absURL }}" alt="">
      </a>
      <a href="" target="_blank" rel="noopener noreferrer">
        <img class="w-4" src="{{ "icons/li.svg" | absURL }}" alt="">
      </a>
    </div>
  </div>
</nav>